
:root {
    --border-radius: 10px;
}

.nx-task-card{
    background-color: #006a62;
    width: 200px;
    border-radius: var(--border-radius);
}

.nx-task-card-id{
    background-color: #634e22;
    color: #ffffff;
    display: grid;
    place-items: center;
    height: 100px;
    margin: 0;

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.nx-task-card-details{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.nx-task-card-details p{
    padding: 0;
    margin: 0;
}